<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/lib.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Finstagram</title>
  </head>
  <body>
      <header>
        <h1>Finstagram</h1>
      </header>
      <main role="main">
        <%= yield %>
      </main>
  </body>
</html>